html, body 
{
    height: 100%;
    margin: 0;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    background: linear-gradient(to right, rgb(193, 193, 193) , rgb(230,233,240));
}

#phover, #phover2
{
    position: absolute;
    left: 44.8%;
    top: 100%;
<<<<<<< Updated upstream
    z-index: 200;
    -ms-transform: rotate(-90deg); 
    -webkit-transform: rotate(-90deg); 
=======
    z-index: 999;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
>>>>>>> Stashed changes
    transform: rotate(-90deg);
    color: rgb(37,40,57);
}

#harrow
{
    position: absolute;
    z-index: 201;
    height: 3%;
    left: 46.2%;
    -ms-transform: rotate(-90deg); 
    -webkit-transform: rotate(-90deg); 
    transform: rotate(-90deg);
    top: 92%;
}


#container
{
    width: 100%;
    height: 160%;
}

#menybar
{
    width: 100%;
    height: 13%;
    background-color: rgb(37,40,57);
    border-style: solid;
    border-width: 1px;
    border-bottom-color: rgb(230,233,240);
    position: fixed;
    left: 0%;
    z-index: 4;   
}


#logo
{
    width: 10%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 0%;
    margin-left: 45%;
    z-index: 999;
    
    webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}


#logo:hover  
{
    transition: all 0.5s;
    transform: scale(0.9);
}


/* Menyalternativer*/

.food, .free_activities, .nightlife, .calendar
{
    font-size: 1.1em;
    position: fixed;
    float: left;
    top: 5%;
    color: rgb(230,233,240);
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    padding: 0.4%;
    align-self: center;
}

/*menyalternativer i menybaren*/
.food
{
    right: 80%;
}

.free_activities
{
    right: 60%;
}

.nightlife
{
    left: 60%;
}

.calendar
{
    left: 80%
}


.food:hover, .nightlife:hover, .free_activities:hover, .calendar:hover
{
    transition: all 0.5s;
    color: rgb(242,182,50);
    border-bottom: solid;
    border-width: thin;
    border-color: rgb(242,182,50);
}

/*slideshow*/
#slidy
{
    overflow: inherit;
    z-index: 2;
}


#slideshow_hovedside
{
    width: 100%;
    height: 70%;
    position: absolute;
    margin-top: -10px;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

/*høyre container*/
#right_container
{
    height: 100%;
    position: absolute;
    right: 0.5%;
    top: 71%;
    z-index: 3;
    width: 55%;
}

.map-canvas
{
    position: relative;
    height: 80%;
    width: 55vw;
    margin-right: 1%;
    border-style: solid;
    right: 1%;
}


/*venstre container på forsiden*/
#left_container
{
    height: 90%;
    width: 50%;
    position: absolute;
    left: 1%;
    top: 71%;
    background-color: rgb(37,40,57);
    margin-bottom: 1%;
}

#left_container, #right_container, #leftcontainerunderside
{
    z-index: 3;
}


/*vestre container på undersiden*/
#left_containerunderside
{
    height: 90%;
    width: 40%;
    position: absolute;
    left: 1%;
    top: 71%;
    background-color: rgb(37,40,57);
    margin-bottom: 1%;
}


/*logoene i venstre container*/
#foodlogo, #freelogo, #nightlifelogo, #calendarlogo
{
    width: 18%;
    margin-right: 4%;
    margin-top: 12%;
    float: left;
    opacity: 1;
    border-color: rgb(242,182,50);
    border-style: solid;
    border-radius: 30%;
}

#frontpagetext
{
    font-size: 1.2em;
    margin-top: 40%;
    margin-left: 6%;
    width: 87%;
    color: rgb(230,233,240);
    text-align: center;
}

#frontpagetextlist
{
    font-size: 1.2em;
    margin-left: 6%;
    width: 87%;
    color: rgb(230,233,240);
}



#foodlogo
{
    margin-left: 6%;
}

#calendarlogo
{
    margin-right: 4%;
}



#foodlogo:hover, #nightlifelogo:hover, #freelogo:hover, #calendarlogo:hover
{
    transition: all 0.8s;
    transform: scale(1.1);
}

/*_2 er på underside*/
#freelogo_2
{
    transform: scale(1.3)
}

#foodlogo_2, #freelogo_2, #nightlifelogo_2
{
    width: 20%;
    margin-left: 10%;
    margin-top: 15%;
}


#foodtext
{
    width: 60%;
    margin-top: 19%;
}
/*text på underside*/
#freetext, #foodtext, #nightlifetext
{
    font-size: 2.5em;
    margin-left: 32%;
    font-weight: bold;
    color: rgb(242,182,50);
}

#nightlifetext
{
    margin-top: 19%;
}

#freetext
{
    margin-top: -17%;
}


#foodlogo_2, #foodtext, #freelogo_2 #freetext, #nightlifelogo_2, #nightlifetext
{
    float: left;
    position: absolute;
}

<<<<<<< Updated upstream
#freeabouttext, #nightlifeabouttext
=======

/*om-text på underside*/
#foodabouttext, #freeabouttext, #nightlifeabouttext
>>>>>>> Stashed changes
{
    font-size: 1em;
    margin-left: 19%;
    width: 60%;
    color: rgb(230,233,240);
    text-align: center;
    height: 50%;
}

#foodabouttext
{
    font-size: 0.94em;
    margin-left: 19%;
    width: 60%;
    color: rgb(230,233,240);
    text-align: center;
    height: 50%;
}

#foodabouttext, #nightlifeabouttext
{
    margin-top: 40%;
}

#freeabouttext
{
    margin-top: 10%;
}

/*food og nightlife-container*/
#t1, #t2, #t3, #u1, #u2, #u3
{
    left: 4%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    cursor: crosshair;
}

#t1:hover , #t2:hover , #t3:hover, #u1:hover, #u2:hover, #u3:hover
{
     -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);    
}

#t1, #u1
{
    top: 0%;
    height: 5%;
    width: 5%;
    position: absolute;
}

#t2, #u2
{
    top: 5.5%;
    height: 5%;
    width: 5%;
    position: absolute;
}

#t3, #u3
{
    top: 11%;
    height: 5%;
    width: 5%;
    position: absolute;
}

#rest1, #rest2, #rest3, #ute1, #ute2, #ute3
{
    height: 90%;
    width: 91%;
    left: 8%;
    top: 0%;
    position: absolute;
    background-color: rgb(37,40,57);
}

#rest2, #ute2 
{
    opacity: 0;
}

#rest3, #ute3
{
    opacity: 0;
}

#top, #top2, #top3, #utop1, #utop2, #utop3
{
    border-bottom-style: solid;
    border-width: thin;
    border-color: rgb(230,233,240);
    height: 10%;
    width: 100%;
    min-width: 100%;
    position: absolute; 
    color: rgb(242,182,50);
    text-align: center;
}

#picturebox, #picturebox2, #picturebox3, #upicturebox1, #upicturebox2, #upicturebox3
{
    padding: 5%;
    left: 18%;
    width: 50%;
    bottom: 38.5%;
    position: absolute;
}

#restaurantbilde
{
    border-style: solid;
    border-color: rgb(242, 182, 50);
    object-fit: contain;
    width: 110%;
}




#dish1, #dish2, #dish3, #id1, #id2, #id3
{
    border-bottom-style: solid;
    border-top-style: solid;
    border-color: rgb(230,233,240);
    border-width: thin;
    width: 100%;
    bottom: 30%;
    position: absolute;
    height: 10%;
    color: rgb(242,182,50);
    text-align: center;
    padding-bottom: 1%;
}




#Aboutrest, #Aboutrest2, #Aboutrest3
{
    position: absolute;
    width: 90%;
    left: 6%;
    text-align: center;
    /*color: rgb(242,182,50);*/
    color: rgb(230,233,240);
    bottom: 3%;
    font-size: 1em;
}

#aboutrest3
{
    left: 0%;
}



.si-float-wrapper {
  position: absolute;
  width: 100%; }
  .si-float-wrapper,
  .si-float-wrapper * {
    box-sizing: border-box; }

[class*='si-wrapper'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  cursor: default; }

.si-wrapper-top {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -40px;
  margin-left: 0px;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%); }

.si-wrapper-bottom {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-top: 0px;
  margin-left: 0px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0); }

.si-wrapper-left {
  margin-top: -20px;
  margin-left: -11px;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%); }

.si-wrapper-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-top: -20px;
  margin-left: 11px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%); }

[class*='si-shadow-wrapper'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.4;
  z-index: 1; }

.si-shadow-wrapper-top,
.si-shadow-wrapper-bottom {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.si-shadow-pointer-bottom,
.si-shadow-pointer-right {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: 0; }

.si-shadow-frame {
  box-shadow: 0 4px 6px 0 #000; }

[class*='si-shadow-pointer'] {
  position: relative;
  width: 15px;
  height: 15px;
  margin: auto; }

[class*='si-shadow-inner-pointer'] {
  position: absolute;
  width: 141%;
  height: 141%;
  box-shadow: -2.82843px 2.82843px 6px 0 #000; }

.si-shadow-inner-pointer-top {
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg); }

.si-shadow-inner-pointer-bottom {
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%) rotate(-45deg);
          transform: translate(-50%, 50%) rotate(-45deg); }

.si-shadow-inner-pointer-left {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg); }

.si-shadow-inner-pointer-right {
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, -50%) rotate(-45deg);
          transform: translate(50%, -50%) rotate(-45deg); }

.si-frame {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border-radius: 0;
  overflow: hidden;
  z-index: 2; }

.si-content-wrapper {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  background-color: #eee; }
  .si-has-border .si-content-wrapper {
    border: 1px solid #bbb; }

.si-content {
  overflow: auto; }

.si-close-button {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  outline: none;
  background-color: transparent;
  color: inherit;
  font-family: Arial, Baskerville, monospace;
  font-size: 24px;
  cursor: pointer;
  opacity: 0.5;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
  .si-close-button:hover, .si-close-button:focus {
    opacity: 0.7; }

[class*='si-pointer-border'] {
  position: absolute;
  border: 15px solid transparent;
  z-index: 3; }

[class*='si-pointer-bg'] {
  position: relative;
  border: 15px solid transparent;
  z-index: 4; }
  .si-has-border [class*='si-pointer-bg'] {
    border-width: 15px; }

.si-pointer-border-top,
.si-pointer-border-bottom {
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0); }

.si-pointer-border-left,
.si-pointer-border-right {
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%); }

.si-pointer-top {
  border-bottom: 0; }

.si-pointer-border-top {
  bottom: 0;
  border-top-color: #bbb; }

.si-pointer-bg-top {
  border-top-color: #eee; }
  .si-has-border .si-pointer-bg-top {
    top: -1px;
    margin-bottom: 0px; }

.si-pointer-bottom {
  border-top: 0; }

.si-pointer-border-bottom {
  top: 0;
  border-bottom-color: #bbb; }

.si-pointer-bg-bottom {
  border-bottom-color: #eee; }
  .si-has-border .si-pointer-bg-bottom {
    bottom: -1px;
    margin-top: 0px; }

.si-pointer-left {
  border-right: 0; }

.si-pointer-border-left {
  right: 0;
  border-left-color: #bbb; }

.si-pointer-bg-left {
  border-left-color: #eee; }
  .si-has-border .si-pointer-bg-left {
    left: -1px;
    margin-right: 0px; }

.si-pointer-right {
  border-left: 0; }

.si-pointer-border-right {
  left: 0;
  border-right-color: #bbb; }

.si-pointer-bg-right {
  border-right-color: #eee; }
  .si-has-border .si-pointer-bg-right {
    right: -1px;
    margin-left: 0px; }

#right_container
{
    height: 100%;
    position: absolute;
    right: 0.5%;
    top: 71%;
    z-index: 3;
}

.map-canvas {
  width: 100%;
  height: 100%; }

.custom-window {
  top: 30px;
  max-width: 400px;
  -webkit-transition: top 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: top 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden; }
  .custom-window.open .si-frame {
    overflow: visible; }
  .custom-window.active {
    top: 0;
    opacity: 1;
    visibility: visible; }
  .custom-window .si-content-wrapper {
    padding-bottom: 10px; }
  .custom-window .si-content {
    overflow: visible; }

.custom-content {
  position: relative;
  max-height: inherit;
  padding-top: 120px;
  overflow: auto;
  z-index: 2; }

.custom-img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1; }

.custom-header {
  position: relative;
  margin: 0;
  padding: 30px;
  background-color: #44433e;
  color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3); }
  .custom-header small {
    display: block;
    font-size: 0.55em;
    font-weight: 400;
    opacity: 0.75; }

.custom-body {
  padding: 30px;
  background-color: #fff; }
  .custom-body p {
    margin: 0; }
  .custom-body * + p {
    margin-top: 1em; }
  .custom-body a {
    color: #60a295; }
    .custom-body a:hover, .custom-body a:focus, .custom-body a:active {
      color: #437369; }

.custom-close {
  position: absolute;
  top: 0;
  right: -36px;
  width: 36px;
  height: 36px;
  -webkit-transition: background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  border: 0;
  background-color: rgba(68, 67, 62, 0.8);
  color: #fff;
  font-size: 1.5em;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer; }
  .custom-close:hover, .custom-close:focus, .custom-close:active {
    background-color: rgba(28, 28, 26, 0.8); }

@media (min-width: 992px) {
  .custom-window {
    max-width: 500px; }
  .custom-content {
    padding-top: 160px; }
  .custom-img {
    height: 160px; }
  .custom-header,
  .custom-body {
    padding: 40px; } }




#t2:hover ~ #rest2
{
    opacity: 1;
}

#t2:hover ~ #rest1
{
    opacity: 0;
}

#t3:hover ~ #rest3
{
    opacity: 1;
}

#t3:hover ~ #rest1
{
    opacity: 0;
}

#u2:hover ~ #ute2
{
    opacity: 1;
}

#u2:hover ~ #ute1
{
    opacity: 0;
}

#u3:hover ~ #ute3
{
    opacity: 1;
}

#u3:hover ~ #ute1
{
    opacity: 0;
}

#hoverbox
{
    position: fixed;
    bottom: 0;
    width: 350px;
    height: 20px;
    background-color: rgb(37,40,57);
    border-style: solid;
    border-color: rgb(230,233,240);
    border-width: 2px;
    z-index: 998;
    left: 1%;
    opacity: 0.6;
}

#hoverboxtext
{
    color: rgb(230,233,240);
    font-size: 1em;
    z-index: 999;
    text-align: center;
    margin: auto;
    font-weight: bold;
    font-style: oblique;
}

#hoverbox:hover
{
    transition: all 0.8s;
    bottom: 0;
    height: 90px;
    opacity: 1;
}
