html, body 
{
    height: 100%;
    margin: 0;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgb(230,233,240);
}


#container
{
    width: 100%;
    height: 160%;
}

#menybar
{
    width: 100%;
    height: 13%;
    background-color: rgb(37,40,57);
    border-style: solid;
    border-width: 1px;
    border-bottom-color: rgb(230,233,240);
    position: fixed;
    left: 0%;
    z-index: 4;
    
}

#logo
{
    /*background-image: url("../Prototype/testlogo_yellow.jpg");*/
    width: 10%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 0%;
    margin-left: 45%;
    z-index: 999;
    
    
    
    webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}


#logo:hover  
{
    transition: all 0.5s;
    transform: scale(0.9);
}


/* Menyalternativer*/

.food, .free_activities, .nightlife, .calendar
{
    font-size: 1.1em;
    position: fixed;
    float: left;
    top: 5%;
    color: rgb(230,233,240);
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    padding: 0.4%;
    align-self: center;
}

.food
{
    right: 80%;
}

.free_activities
{
    right: 60%;
}

.nightlife
{
    left: 60%;
}

.calendar
{
    left: 80%
}


.food:hover, .nightlife:hover, .free_activities:hover, .calendar:hover
{
    transition: all 0.5s;
    color: rgb(242,182,50);
    border-bottom: solid;
    border-width: thin;
    border-color: rgb(242,182,50);
}

#slidy
{
    overflow: inherit;
    z-index: 2;
}


#slideshow_hovedside
{
    width: 100%;
    height: 70%;
    position: absolute;
    margin-top: -10px;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}




#right_container
{
    height: 100%;
    position: absolute;
    right: 0.5%;
    top: 71%;
    z-index: 3;
    width: 55%;
}

#map
{
    position: relative;
    height: 80%;
    width: 55vw;
    margin-right: 1%;
    border-style: solid;
    right: 1%;
}



#left_container
{
    height: 90%;
    width: 50%;
    position: absolute;
    left: 1%;
    top: 71%;
    background-color: rgb(37,40,57);
    margin-bottom: 1%;
}

#left_container, #right_container, #leftcontainerunderside
{
    z-index: 3;
}

#left_containerunderside
{
    height: 90%;
    width: 40%;
    position: absolute;
    left: 1%;
    top: 71%;
    background-color: rgb(37,40,57);
    margin-bottom: 1%;
}

#foodlogo, #freelogo, #nightlifelogo, #calendarlogo
{
    width: 18%;
    margin-right: 4%;
    margin-top: 12%;
    float: left;
    opacity: 1;
    border-color: rgb(242,182,50);
    border-style: solid;
    border-radius: 30%;
}

#frontpagetext
{
    font-size: 1.2em;
    margin-top: 40%;
    margin-left: 6%;
    width: 87%;
    color: rgb(230,233,240);
    text-align: center;
}



#foodlogo
{
    margin-left: 6%;
}

#calendarlogo
{
    margin-right: 4%;
}



#foodlogo:hover, #nightlifelogo:hover, #freelogo:hover, #calendarlogo:hover
{
    transition: all 0.8s;
    transform: scale(1.1);
}


#freelogo_2
{
    transform: scale(1.3)
}

#foodlogo_2, #freelogo_2, #nightlifelogo_2
{
    width: 20%;
    margin-left: 10%;
    margin-top: 15%;
}



#foodtext
{
    width: 60%;
    margin-top: 19%;
}

#freetext, #foodtext, #nightlifetext
{
    font-size: 2.5em;
    margin-left: 32%;
    font-weight: bold;
    color: rgb(242,182,50);
}

#nightlifetext
{
    margin-top: 19%;
}

#freetext
{
    margin-top: -17%;
}


#foodlogo_2, #foodtext, #freelogo_2 #freetext, #nightlifelogo_2, #nightlifetext
{
    float: left;
    position: absolute;
}

#foodabouttext, #freeabouttext, #nightlifeabouttext
{
    font-size: 1em;
    margin-left: 19%;
    width: 60%;
    color: rgb(230,233,240);
    text-align: center;
}

#foodabouttext, #nightlifeabouttext
{
    margin-top: 40%;
}

#freeabouttext
{
    margin-top: 10%;
}



#calendar-container{
    position: relative;
    overflow: hidden;
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 80px 26px 26px 26px;
    background-color: #ffa75e;
    padding-top: 126px;
}

.date-div{
    
    overflow: hidden;
    position: relative;
    
    padding: 20px;
    margin: 2em 0;
    height: 100px;
    width: 10%;
    /*
    border-top-left-radius: 20%;
    border-top-right-radius: -100px;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: -10%;
    */
    background-color: #ff6a45;
    margin-right: 30px;
    float: left;
    background:
        -moz-radial-gradient(0 100%, circle, rgba(204,0,0,0) 14px, #c00 15px),
        -moz-radial-gradient(100% 100%, circle, rgba(204,0,0,0) 14px, #c00 15px),
        -moz-radial-gradient(100% 0, circle, rgba(204,0,0,0) 14px, #c00 15px),
        -moz-radial-gradient(0 0, circle, rgba(204,0,0,0) 14px, #c00 15px);
    background:
         -o-radial-gradient(0 100%, circle, rgba(204,0,0,0) 14px, #c00 15px),
         -o-radial-gradient(100% 100%, circle, rgba(204,0,0,0) 14px, #c00 15px),
         -o-radial-gradient(100% 0, circle, rgba(204,0,0,0) 14px, #c00 15px),
         -o-radial-gradient(0 0, circle, rgba(204,0,0,0) 14px, #c00 15px);
    background:
         -webkit-radial-gradient(0 100%, circle, rgba(204,0,0,0) 14px, #c00 15px),
         -webkit-radial-gradient(100% 100%, circle, rgba(204,0,0,0) 14px, #c00 15px),
         -webkit-radial-gradient(100% 0, circle, rgba(204,0,0,0) 14px, #c00 15px),
         -webkit-radial-gradient(0 0, circle, rgba(204,0,0,0) 14px, #c00 15px);
    
    
    background-position: bottom left, bottom right, top right, top left;
    
    -moz-background-size: 51% 51%;
    -webkit-background-size: 51% 51%;
    background-size: 51% 51%;
    background-repeat: no-repeat;
}

.date-div h3{
    margin: 0 auto;
    text-align: center;
    font-size: 1.6em;
}

.date-div:before{
    content:"";
    position: absolute;
    top:0;
    right: 0;
    border-width: 0 26px 26px 0px;
    border-style: solid;
    border-color: #e7e19e #ffa75e;
}

.date-div:after{
    content:"";
    
}

.date-div{

}


#t1, #t2, #t3
{
    left: 4%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    cursor: crosshair;
}

#t1:hover , #t2:hover , #t3:hover
{
     -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);    
}

#t1
{
    top: 0%;
    height: 5%;
    width: 5%;
    position: absolute;
}

#t2
{
    top: 6%;
    height: 5%;
    width: 5%;
    position: absolute;
}

#t3
{
    top: 12%;
    height: 5%;
    width: 5%;
    position: absolute;
}

#rest1, #rest2
{
    height: 70%;
    width: 91%;
    left: 8%;
    top: 0%;
    position: absolute;
    background-color: rgb(37,40,57);
}

#rest2 
{
    opacity: 0;
}

#top, #top2
{
    border-bottom-style: solid;
    border-color: rgb(230,233,240);
    height: 10%;
    width: 60%
    position: absolute; 
    color: rgb(242,182,50);
    text-align: center;
}

#picturebox, #picturebox2
{
    padding: 5%;
    left: 16%;
    width: 80%;
    position: absolute;
}

#picturebox2
{
    height: 80%;
}

#dish1, #dish2
{
    border-bottom-style: solid;
    border-top-style: solid;
    border-color: rgb(230,233,240);
    width: 100%; 
    bottom: 12%;
    position: absolute;
    height: 10%;
    color: rgb(242,182,50);
    text-align: center;
    padding-bottom: 1%;
}

#ing1, #ing2
{
    left: 3%;
    bottom: 1%;
    position: absolute;
    color: rgb(242,182,50);
    
}

#kr1, #kr2
{
    bottom: 1%;
    position: absolute;
    right: 3%;
    color: rgb(242,182,50);
}

#t2:hover ~ #rest2
{
    opacity: 1;
}

#t2:hover ~ #rest1
{
    opacity: 0;
}